@tailwind base;
@tailwind components;
@tailwind utilities;


.hero{
    background-image: url("https://res.cloudinary.com/dcbuuobgt/image/upload/v1699437999/Shelterian_Hero_ifuwe8.webp");
}
.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,body{
    background-color: #c5a28731;
    box-sizing: border-box;
    min-height: 100vh;
}
#root{
    width: 90%;
    max-width: 1600px;
    margin: auto;
}
.auth-screen{
    min-height: 400px;
    
}
.form{
    width: 80%;
    max-width: 864px;
    margin: auto;
}
.no-scrollbar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.gallery img {
    width: 750px !important;
    height: 500px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
    }
.gallery{
    width: 100% !important;
    height: 500px !important;
}
.image-gallery{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    min-height: 500px !important;
}
.tablea>div {
    background-color: #533745;
}
.slidi label, .slidi output{
color: white;
font-weight: semi-bold;
}
.slidi output::after{
    content: " km";
}
.ql-container.ql-snow {
    height: auto;
}
.ql-editor {
    height: 450px;
    overflow-y: scroll;
}

.terms h1{
    font-size: 1.5rem;
    font-weight: bold;
}
.terms h2{
    font-size: 1.2rem;
    font-weight: 600;
}
.ql-indent-1{
    margin-left: 30px;
}
.ql-indent-2{
    margin-left: 60px;
}
.ql-indent-3{
    margin-left: 90px;
}
.ql-indent-4{
    margin-left: 120px;
}
.terms ul{
    list-style: disc;
}
.terms ol{
    list-style:decimal;
}