@tailwind base;
@tailwind components;
@tailwind utilities;
.hero{
    background-image: url("https://res.cloudinary.com/dcbuuobgt/image/upload/v1699437999/Shelterian_Hero_ifuwe8.webp");
}
.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,body{
    background-color: #c5a28731;
    box-sizing: border-box;
    min-height: 100vh;
}
#root{
    width: 90%;
    max-width: 1600px;
    margin: auto;
}
.auth-screen{
    min-height: 400px;
    
}
.form{
    width: 80%;
    max-width: 864px;
    margin: auto;
}
.no-scrollbar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.gallery img {
    max-height: 500px !important;
}
.gallery{
    width: 800px !important;
    height: 500px !important;
}
.tablea>div {
    background-color: #533745;
}
.slidi label, .slidi output{
color: white;
font-weight: semi-bold;
}
.slidi output::after{
    content: " km";
}
